@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Roboto+Slab:wght@400;700&family=Source+Serif+Pro:wght@700;900&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
}
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
	background-image: url('/images/hero-bg.jpg');
	background-repeat: no-repeat;
}
#main-page:before{
	content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#main-page{
		width: 100%;
		background: url('/images/hero-bg.jpg') top center;
		background-size: cover;
		position: relative;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 30px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #fff;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color:transparent;
}
.nav-links{
	color: #fff !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-links{
	color: #fadd3b !important;
}
.nav-item.active .nav-links{
	color: #fadd3b !important;
}
.nav-links {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
/* .nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
} */
.nav-item{
	position: relative;
    transition: all 200ms linear;
}
.page-content{
	margin-top: 120px;
	padding:30px;
}
section{
	padding: 60px 0;
	overflow: hidden;
}
.about,.services,.portfolio,.contact{
	padding: 0px 60px;
}
.about img{
	width: 600px;
	height: auto;
}
.about .head2{
	text-align: center;
	padding: 20px 40px;
}
.services .head2,.portfolio .head2,.contact .head2{
	font-size: 2em;
	font-weight: 600;
}
.services .head5,.portfolio .head5,.contact .head5{
	color: #817181;
	font-weight: 500;
}
.services .head5::after,.portfolio .head5::after,.contact .head5::after{
	content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ffde9e;
    margin: 4px 10px;
}

.services-box:hover{
	border-color: #fff;
    box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
    transform: translateY(-10px);
}
.services-box{
	border: 1px solid #ebebeb;
    padding: 70px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
	text-align: center;
	margin: 20px 0;
}
.services-box p{
	text-align: center;
}
.services-box .icon{
	margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #ffc451;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.3s;
}
.car-caption h3{
	color: #fff;
	text-align: center;
}
.car-caption p{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.port-box{
	padding:20px 0;
	width: 100%;
}
.port-box i{
	display: block;
    font-size: 36px;
    color: #ffc451;
    float: left;
}
.port-box span{
	font-size: 36px;
    line-height: 8px;
    display: block;
    font-weight: 700;
    color: #151515;
    margin-left: 50px;
}
.port-box p{
	padding: 5px 0 0 0;
    margin: 0 0 0 50px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #3b3b3b;
}
.carousel-indicators{
	top:250px;
}
.nav-pills li a{
	text-decoration: none;
	margin: 15px;
	color: #000;
}
.nav-pills li a:hover,.nav-pills li a.active{
	background-color: #fadd3b;
	color: #000;
	padding: 5px;
	border-radius: 4px;
}

#main-page .head1{
	font-size: 56px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #fff;
	line-height: 64px;
}
.head3{
	font-size: 2em;
	font-weight: 700;
	margin-bottom: 20px;
}
.head4{
	font-size: 1.5em;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
}
.head5{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 1.2em;
}
p{
	font-size: 16px;
	font-weight: normal;
	line-height: 34px;
	text-align: justify;
}
ul{
	list-style: none;
}
.icon-box{
	padding: 30px 20px;
	transition: ease-in-out 3s;
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 100%;
	text-align: center;
}
.icon-box i{
	font-size: 32px;
	line-height: 1px;
	color: #fadd3b;
}
.icon-box .head3{
	color: #fff;
	font-size: 20px;
	line-height: 26px;
}
.icon-box .head3:hover{
	color: #fadd3b;
}
.ibox .fa{
	font-size: 20px;
	color: #fadd3b;
}
.contact .info i{
	font-size: 20px;
    background: #ffc451;
    color: #151515;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.contact .info h4{
	padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #151515;
}
.contact .info p{
	padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #817181;
}
.maps{
	width: 1350px;
	height: 350px;
	margin: 60px 0;
}
.footer-links{
	background-color: #151515;
	padding: 0 50px;
}
.footer-top{
	border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
}
.footer-links ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-links ul li{
	padding: 10px 20px;
    display: flex;
    align-items: center;
}
.footer-links h4{
	font-size: 18px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}
.footer-links ul a{
	color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
	font-size: 14px;
	text-decoration: none;
}
.footer-links ul i{
	padding-right: 10px;
    color: #ffc451;
    font-size: 12px;
    line-height: 1;
}
.buttons{
	position: absolute;
	right: 15px;
	top: 125px;
}
@media only screen and (max-width:600px){
	.maps{
		width: 400px;
	}
}
